
        /* Style the body */
        body {
            background: #f8f8f8;
            font-family: Arial;
            margin: 0;
        }

        /* Header/logo Title */
        header {
            padding: 30px;
            text-align: center;
            background: #5985c7;
            color: rgb(255, 255, 255);
        }

        /* Style the top navigation bar */
        /* contenedor de columnas o principal */
        .contenedor {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
        }

        /* crea dos columnas que se situan una al lado de la otra  */
        /* Sidebar/left column */
        aside {
            flex: 25%;
            background-color: #cccccca9;
            padding: 20px;
        }

        /* Main column */
        .main {
            flex:75%;
            background-color: rgba(151, 151, 151, 0.596);
            padding: 20px;
        }

        /* Footer */
        footer {
            padding: 20px;
            text-align: center;
            background: rgb(107, 155, 209);
            color: rgb(255, 255, 255);
        
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .menu-area a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(255, 255, 255);
            background: rgb(07, 155, 209);
            height: 50px;
            text-decoration: none;
            margin: 1px;
        }

        .menu-area a:hover {
            background: rgb(07, 155, 209);
            color: rgb(255, 255, 255);

        }

        .menu-area ul {
            list-style: none;
            display: flex;
        }

        .menu-area li {
            position: relative;
            width: 100%;
            text-align: center;
        }
     
        .menu-area li:hover .dropdown-1>li {
            top: 0;
            display: block;
        }

        .dropdown-1 li {
            display: none;
            position: relative;
        }

        .dropdown-1 {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
        }  

        .dropdown-1 li:hover {
            display: block;
        }
        
        * {
        box-sizing: border-box;
    }
